.modal {
  z-index: 50;
  background-color: #022210;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 4rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-top: 5px solid black;

  .Heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
  }

  .line {
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 75%;
  }

  .Demo {
    display: flex;
    justify-content: center;
    gap: 10px;
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: center;
    text-align: center;
    padding: 5px;

    .Demo-live {
      border: 1px solid white;
      border-radius: 10px;
      // color: black;
      // padding: 6px;
      color: rgb(15, 140, 181);
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 6px;
      padding-bottom: 6px;
      font-size: 1.5rem;
      font-family: 2rem;
      a {
        text-decoration: none;
        color: rgb(13, 148, 193);
        &:hover {
          color: rgb(45, 130, 159);
        }
      }
    }
  }

  .container {
    display: flex;
    // flex-wrap: wrap;
    // flex-direction: column;
    justify-content: center;
    background-color: black;
    padding: 5rem;
    gap: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top: 5px solid black;

    .image-con {
      border: 1px solid white;
      width: 50%;
      height: 350px;
      border-radius: 1rem;
      object-fit: contain;
      object-fit: cover;
      flex-direction: column;
      padding: 10px;
      position: relative;

      @media screen and (max-width: 900px) {
        width: 95%;
      }
      @media screen and (min-width: 900px) {
        width: 90%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        // overflow: hidden;
      }
    }

    @media screen and (max-width: 800px) {
      flex-wrap: wrap;
    }
    @media screen and (max-width: 1000px) {
      flex-wrap: wrap;
      gap: 100px;
    }
  }
}

.image-con1 {
  // border: 2px solid white;
  width: 50%;
  min-height: 450px;
  border-radius: 1rem;
  object-fit: contain;
  // overflow: hidden;
  position: relative;

  @media screen and (max-width: 900px) {
    width: 95%;
  }
  @media screen and (min-width: 900px) {
    width: 90%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.description {
  margin: 10px;
  font-size: large;
  // padding: 15px;
  color: #313bac;
  // border: #fff solid 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  strong {
    font-size: 2rem;
    color: #313bac;
    // margin-bottom: 10px;
    border: #fff solid 1px;
    padding: 0px 20px;
    border-radius: 10px;

    // margin-bottom: 10px;
  }

  @media screen and (max-width: 800px) {
    margin-top: 60px;
  }
}

.para {
  margin: 10px;
  // padding: 10px;
  margin-top: 20px;
}

.tech {
  // font-size: 2rem;
  // color: #313bac;
  // // margin-bottom: 10px;
  // border: #fff solid 1px;
  // padding: 0px 20px;
  // border-radius: 10px;
  margin: 10px;
  font-size: large;
  // padding: 15px;
  color: #313bac;
  // border: #fff solid 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  strong {
    font-size: 2rem;
    color: #313bac;
    // margin-bottom: 10px;
    border: #fff solid 1px;
    padding: 0px 20px;
    border-radius: 10px;
  }
}

.tech_used {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 10px;
  font-size: medium;
  text-transform: uppercase;
}

.feature {
  font-size: large;
  margin: 10px;
  text-transform: uppercase;
  margin-top: 10px;
}

.image_con2 {
  display: flex;
  width: 22%;
  gap: 20px;
  // border: 2px solid white;

  img {
    margin-top: 20px;
    margin-left: 4px;
    // border: 2px solid white;
    border-radius: 3px;
  }
}

.cross1 {
  display: flex;
  justify-content: end;

  .cross {
    cursor: pointer;
    padding-top: 20px;
    padding-right: 30px;
    color: whitesmoke;
    font-size: 5rem;
  }
}

.scroll_model {
  overflow-y: scroll;
}
